@import "src/assets/styles/variables";

#mapid {
  height: 350px;
  width: 700px;
}

.right-card {
  width: 100%;
  margin-left: 20px;
}

.avatar {
  border-radius: 50%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 35px;
  background-color: $light-grey;
}
