<h2>{{ 'WINGS-FOR-LIFE-CALCULATOR' | translate }}</h2>
<div class="wings"></div>
<div class="wings-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="modelForm" *ngIf="modelForm">
        <h3>
          {{ 'YOU-NEED' | translate }}
          <mat-form-field class="ml-1 select-minutes">
            <mat-select formControlName="minutes">
              <mat-option *ngFor="let option of minutes" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          {{ 'TO-RUN' | translate }}
          <mat-form-field class="ml-1 select-km">
            <mat-select formControlName="kilometers">
              <mat-option *ngFor="let option of kilometers" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
          {{ 'CATCHES-CAR' | translate }}
          <mat-form-field class="ml-1 select">
            <mat-select formControlName="pace">
              <mat-option *ngFor="let option of pace" [value]="option.value">{{option.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </h3>
      </form>
      <mat-slider
        (input)="updateForm($event)"
        [step]="1000"
        thumbLabel
        tickInterval="1000"
        [displayWith]="formatLabel"
        min="1000"
        max="76000">
      </mat-slider>
    </mat-card-content>
  </mat-card>
</div>
