@import "src/assets/styles/variables";

.my-activities {
  margin: 5px;
  padding-top: 30px;
}

.type-of-sport {
  width: 70px;
  border: 1px solid rgba(28, 110, 164, 0.14);
}

.mat-elevation-z8 {
  width: 1300px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 16px;
  background-color: $light-grey;
}

.paginator {
  width: 1200px;
}

button {
  width: 180px;
}

.details {
  width: 15px;
  align-items: center;
  text-align: center;
  background-color: $strava-orange;
}

button {
  background-color: $strava-orange;
  color: white;
}
