@import "src/assets/styles/variables";

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.my-activities {
  margin: 5px;
  padding-top: 30px;
}

.type-of-sport{
  width: 70px;
  border: 1px solid rgba(28,110,164,0.14);
}

.mat-elevation-z8 {
  width: 1000px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 21px;
  background-color: $antiquewhite ;;
}

.paginator {
  width: 1000px;
}
