<!--<h1 class="calendar">Training Calendar</h1>-->
<!--<mwl-utils-calendar-header-->
<!--  [(view)]="view"-->
<!--  [(viewDate)]="viewDate"-->
<!--  (viewDateChange)="fetchEvents()"-->
<!--  (viewChange)="fetchEvents()"-->
<!--&gt;-->
<!--</mwl-utils-calendar-header>-->

<!--<ng-template #loading>-->
<!--  <div class="text-center">-->
<!--    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />-->
<!--    Loading activities...-->
<!--  </div>-->
<!--</ng-template>-->

<!--<div *ngIf="activities$ | async; else loading; let activities">-->
<!--  <div [ngSwitch]="view">-->
<!--    <mwl-calendar-month-view-->
<!--      *ngSwitchCase="'month'"-->
<!--      [viewDate]="viewDate"-->
<!--      [events]="activities$"-->
<!--      [activeDayIsOpen]="activeDayIsOpen"-->
<!--      (dayClicked)="dayClicked($event.day)"-->
<!--      (eventClicked)="eventClicked($event.event)"-->
<!--    >-->
<!--    </mwl-calendar-month-view>-->
<!--    <mwl-calendar-week-view-->
<!--      *ngSwitchCase="'week'"-->
<!--      [viewDate]="viewDate"-->
<!--      [events]="activities"-->
<!--      (eventClicked)="eventClicked($event.event)"-->
<!--    >-->
<!--    </mwl-calendar-week-view>-->
<!--    <mwl-calendar-day-view-->
<!--      *ngSwitchCase="'day'"-->
<!--      [viewDate]="viewDate"-->
<!--      [events]="activities"-->
<!--      (eventClicked)="eventClicked($event.event)">-->
<!--    </mwl-calendar-day-view>-->
<!--  </div>-->
<!--</div>-->
