@import "src/assets/styles/variables";

.button {
  background-color: $strava-orange;
}

a {
  color: white;
  text-decoration: none;
}

.strava-runner {
  background: url("/assets/images/stravarunner.jpg");
  height: 700px;
}

