<header class="header">
  <div class="container">
    <div class="row justify-content-between no-gutters">
      <div class="col col-logo">
        <a href="#">
          <img class="header-logo" src="../../../../assets/images/e-runner-logo.png" alt="e-runner-logo">
        </a>
        <span>Powered with
          <style>
  .strava-badge- { display: inline-block; height: 48px; }
  .strava-badge- img { visibility: hidden; height: 48px; }
  .strava-badge-:hover { background-position: 0 -63px; }
  .strava-badge-follow { height: 48px; width: 48px; background: url(//badges.strava.com/echelon-sprite-48.png) no-repeat 0 0; }
</style>
<a href="#" class="strava-badge- strava-badge-follow"><img src="//badges.strava.com/echelon-sprite-48.png" alt="Strava" /></a>
        </span>
      </div>
    </div>
  </div>
</header>

