<header class="header d-flex justify-content-between">
  <div class="menu">
    <div>
      <a href="#">
        <img class="header-logo" src="/assets/images/e-runner-logo.png" alt="e-runner-logo">
      </a>
    </div>
    <div class="training-dropdown">
      <ul class="dropdown">
        <li><a>Training</a>
          <ul>
            <li routerLink="/dashboard/training-calendar"><a>Training Calendar</a></li>
            <li routerLink="/dashboard/my-activities"><a>My Activities</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Segments</a>
          <ul>
            <li routerLink="/dashboard/my-segments"><a>My Segments</a></li>
            <li routerLink="/dashboard/segment-explore"><a>Segment Explore</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Routes</a>
          <ul>
            <li routerLink="/dashboard/routes"><a>My Routes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Calculators</a>
          <ul>
            <li routerLink="/dashboard/wings-for-life"><a>Wings For Life Calculator</a></li>
            <li routerLink="/dashboard/distance-calculator"><a>Distance Calculator</a></li>
            <li routerLink="/dashboard/pace-calculator"><a>Pace Calculator</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <div class="strava-logo">
    <a style="display:inline-block;
    background-color:#FC5200;
    color:#fff;
    padding:5px 10px 5px 30px;
    font-size:11px;font-family:Helvetica, Arial, sans-serif;
    white-space:nowrap;
    text-decoration:none;
    background-repeat:no-repeat;
    background-position:10px center;
    border-radius:3px;
    background-image:url('http://badges.strava.com/logo-strava-echelon.png')"
       href=''>
      Powered by
      <img src='http://badges.strava.com/logo-strava.png' alt='Strava'
           style='margin-left:2px;vertical-align:text-bottom' height=13 width=51/>
    </a>
  </div>
</header>

