<header class="header d-flex justify-content-between">
  <div class="menu">
    <div>
      <a href="#">
        <img class="header-logo" src="./assets/images/e-runner-logo.png" alt="e-runner-logo">
      </a>
    </div>
    <div class="training-dropdown">
      <ul class="dropdown">
        <li><a>Training</a>
          <ul>
            <li routerLink="/dashboard/training-calendar"><a>Training Calendar</a></li>
            <li routerLink="/dashboard/my-activities"><a>My Activities</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Segments</a>
          <ul>
            <li routerLink="/dashboard/my-segments"><a>My Segments</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Routes</a>
          <ul>
            <li routerLink="/dashboard/routes"><a>My Routes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>
      <ul class="dropdown">
        <li><a>Calculators</a>
          <ul>
            <li routerLink="/dashboard/wings-for-life"><a>Wings For Life Calculator</a></li>
            <li routerLink="/dashboard/distance-calculator"><a>Distance Calculator</a></li>
            <li routerLink="/dashboard/pace-calculator"><a>Pace Calculator</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="strava-logo">
    <img src="./assets/images/stravalogo.png" alt="stravalogo">
  </div>
</header>

