@import "src/assets/styles/variables";

.pace-calculator {
  width: 250px;
  margin-left: 5px;
}


.pace {
  background: url("/assets/images/runner8.jpg")   no-repeat;
  height: 690px;
}

.pace-description {
  color: $strava-orange;
}

