<h2>{{ 'DISTANCE-CALCULATOR' | translate }}</h2>
<div class="distance">
  <h3 class="description">{{ 'DISTANCE-DESCRIPTION' | translate }}.</h3>
  <form [formGroup]="modelForm" *ngIf="modelForm">
    <mat-card class="distance-calculator">
      <mat-card-content>
        <h3>{{ 'PLANNED-TIME-OF-RUN' | translate }}:</h3>
        <span>
    <mat-form-field>
    <mat-label>{{ 'HOURS' | translate }}</mat-label>
    <input matInput formControlName="hour">
  </mat-form-field>
</span>
        <span class="ml-1">
    <mat-form-field>
    <mat-label>{{ 'MINUTES' | translate }}</mat-label>
    <input matInput formControlName="minute">
  </mat-form-field>
</span>
        <span class="ml-1">
    <mat-form-field>
    <mat-label>{{ 'SECS' | translate }}</mat-label>
    <input matInput formControlName="sec">
  </mat-form-field>
</span>
        <h3>{{ 'PLANNED-PACE' | translate }}:</h3>
        <span>
        <mat-form-field>
    <mat-label>{{ 'MINUTES' | translate }}</mat-label>
    <input matInput formControlName="paceMinutes">
  </mat-form-field>
        <mat-form-field class="ml-1">
    <mat-label>{{ 'SECS' | translate }}</mat-label>
    <input matInput formControlName="paceSeconds">
  </mat-form-field>
    </span>
      </mat-card-content>
      <button mat-raised-button class="mr-2" (click)="getDistance()">{{ 'CHECK' | translate }}</button>
      <button mat-raised-button color="default" (click)="modelForm.reset()">Reset</button>
      <strong>
        <div class="mt-1 distance-result">
          {{ 'YOU-WILL-RUN' | translate }} <br>{{distanceKM}} <br>{{ 'OR' | translate }} <br>{{distanceMiles}}
        </div>
      </strong>
    </mat-card>
  </form>
</div>
