<button mat-raised-button color="warn" class="button" *ngIf="!isLoggedIn">
  <a href="http://www.strava.com/oauth/authorize?client_id=57403&response_type=
code&redirect_uri=http://localhost:4200&approval_prompt=force&scope=activity:read_all">Authorize access</a>
</button> <!-- pojdzie do login component !-->
<div class="d-none d-lg-block d-md-block">
  <router-outlet></router-outlet>
</div>
<strong>
<p class="d-sm-block d-md-none apologize">Sorry, but there is only web version of App.</p></strong>
