<div *ngIf="activity" class="d-flex justify-content-between">
  <mat-card class="mat-card-top">
    <mat-card-header class="mt-2">
      <span mat-card-avatar>
        <img [src]="athlete?.profile" alt="avatar" class="avatar">
      </span>
      <span class="mt-2">
        <div class="ml-5 pl-4 mt-2">
<small>{{activity.start_date_local | date: 'EEEE | MMMM d | y | h:mm:ss | a'}}</small>
      </div>
      <h2 class="ml-5 pl-4 mt-2">{{activity.name}}</h2>
<small><div class="ml-5 pl-4 mt-2">{{activity.device_name}}</div></small>
      </span>
    </mat-card-header>
  </mat-card>
  <mat-card class="mat-card-top">
    <mat-card-content>
      <div class="container mt-3">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 distance">
                <span class="material-icons">near_me</span>
              </div>
              <div>
                <span>{{ getDistance(activity.distance) }}km</span>
                <span>
                 <br><small class="text-uppercase">Distance</small>
            </span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons moving">history</span>
              </div>
              <div>
                <span>{{ formatTime(activity.moving_time) }}</span>
                <span><small class="text-uppercase"><br>Moving Time</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons">watch</span>
              </div>
              <span>{{getAvgTime(activity.distance, activity.moving_time)}}
                <small class="text-uppercase"><br>Pace</small></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons heart">local_fire_department</span>
              </div>
              <div>
                <span>{{activity.calories}} kcal</span>
                <span><small class="text-uppercase"><br>Calories</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 speed"><span class="material-icons">speed</span></div>
              <div>
                <span>{{getSpeed(activity.average_speed)}}</span>
                <span><small class="text-uppercase"><br>Avg Speed</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">speed</span></div>
              <div>
                <span>{{getSpeed(activity.max_speed)}}</span>
                <span><small class="text-uppercase"><br>Max Speed</small></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">favorite_border</span></div>
              <div>
                <span>{{getHeartrate(activity.average_heartrate)}}</span>
                <span><div><small class="text-uppercase">Avg Heartrate</small></div></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">favorite</span></div>
              <div>
                <span>{{getHeartrate(activity.max_heartrate)}}</span>
                <span><div><small class="text-uppercase">Max Heartrate</small></div></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2"><span class="material-icons elevation">trending_up</span></div>
              <div><span>{{activity.total_elevation_gain}}m</span>
                <span><div><small class="text-uppercase">Elevation Gain</small></div></span></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="d-flex justify-content-between">
  <div class="mt-2">
    <mat-card class="mat-card-bottom-1">
      <h2 class="splits-header">Splits</h2>
      <mat-card-content>
        <div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">KM</th>
              <th scope="col">Pace</th>
              <th scope="col">Elevation</th>
              <th scope="col">HR</th>
            </tr>
            </thead>
            <tbody *ngIf="activity">
            <tr *ngFor="let metric of activity.splits_metric">
              <td>{{metric.split}}</td>
              <td>{{getAvgSplit(metric.distance, metric.moving_time)}}</td>
              <td>{{metric.elevation_difference}}m</td>
              <td>{{metric.average_heartrate | number: '1.0-0'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mt-2">
    <mat-card class="mat-card-bottom-2">
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <div id="mapid"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="mt-2">
  <mat-card>
    <mat-card-title>
      <mat-card-content>
        <div class="flex">
          <div class="flex-item">
            <div style="display: block;">
              <canvas baseChart width="400" height="150"
                      [datasets]="lineChartData"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [labels]="lineChartLabels"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins"
              ></canvas>
            </div>
          </div>
          <div class="d-flex">
            <div class="flex-item">
              <table class="table table-responsive table-condensed">
<!--                <tr>-->
<!--                  <th *ngFor="let label of lineChartLabels">{{label}}</th>-->
<!--                </tr>-->
                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
<!--                  <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>-->
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card-title>
  </mat-card>
</div>

