<div class="d-flex justify-content-between">
  <mat-card class="mat-card-top">
    <mat-card-header class="mt-2">
      <span mat-card-avatar>
        <img [src]="athlete?.profile" alt="avatar" class="avatar">
      </span>
      <span class="mt-2">
        <div class="ml-5 pl-4 mt-2">
<small>{{activity.start_date_local | date: 'EEEE | MMMM d | y | h:mm:ss | a'}}</small>
      </div>
      <h2 class="ml-5 pl-4 mt-2">{{activity.name}}</h2>
<small><div class="ml-5 pl-4 mt-2">{{activity.device_name}}</div></small>
      </span>
    </mat-card-header>
  </mat-card>
  <mat-card class="mat-card-top">
    <mat-card-content>
      <div class="container mt-4">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 distance">
                <span class="material-icons">near_me</span>
              </div>
              <div>
                <span>{{ getDistance(activity.distance) }}km</span>
                <span>
                 <br><small class="text-uppercase">Distance</small>
            </span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons moving">history</span>
              </div>
              <div>
                <span>{{ formatTime(activity.moving_time) }}</span>
                <span><small class="text-uppercase"> Moving Time</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons">watch</span>
              </div>
              <span>{{getAvgTime(activity.distance, activity.moving_time)}}</span>
              <div><small class="text-uppercase"><br>Pace</small></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2">
                <span class="material-icons heart">local_fire_department</span>
              </div>
              <div>
                <span>{{activity.calories}} kcal</span>
                <span><small class="text-uppercase"><br>Calories</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 speed"><span class="material-icons">speed</span></div>
              <div>
                <span>{{getSpeed(activity.average_speed)}}</span>
                <span><small class="text-uppercase"><br>Avg Speed</small></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">speed</span></div>
              <div>
                <span>{{getSpeed(activity.max_speed)}}</span>
                <span><small class="text-uppercase"><br>Max Speed</small></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">favorite_border</span></div>
              <div>
                <span>{{getHeartrate(activity.average_heartrate)}}</span>
                <span><div><small class="text-uppercase">Avg Heartrate</small></div></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2 heart"><span class="material-icons">favorite</span></div>
              <div>
                <span>{{getHeartrate(activity.max_heartrate)}}</span>
                <span><div><small class="text-uppercase">Max Heartrate</small></div></span>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="mt-2 mr-2"><span class="material-icons elevation">trending_up</span></div>
              <div><span>{{activity.total_elevation_gain}}m</span>
                <span><div><small class="text-uppercase">Elevation Gain</small></div></span></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="mt-2">
  <mat-card class="mat-card-bottom">
    <mat-card-header></mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
